<div class="overview-invoices">
    <div class="sent-invoices">
        Sent
        <table class="table">
        <thead>
            <tr>
                <th>Invoice id</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoices">
                <td>{{invoice.invoiceId}}</td>
                <td>{{invoice.amount}}</td>
                <td>{{invoice.status}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="receiving-invoices">
        Receiving
        <table class="table">
        <thead>
            <tr>
                <th>Invoice id</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoices">
                <td>{{invoice.invoiceId}}</td>
                <td>{{invoice.amount}}</td>
                <td>{{invoice.status}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
