<div class="users-container">
	<div>
		<label for="biz-entity-id">User:</label>
		<select id="biz-entity-id" (change)="onChange($event)">
			<option *ngFor="let bizEntity of biznisEntities" value="{{bizEntity.bizEntityId}}">{{bizEntity.name}}</option> 
		</select>
	</div>
	<div>
		<label for="biz-entity-debt">Debt:</label>
		<input type="text" id="biz-entity-debt" disabled>
	</div>
	<div>
		<label for="biz-entity-claim">Claim:</label>
		<input type="text" id="biz-entity-claim" disabled>
	</div>
</div>
