<div class="users-container">
	<div>
		<label for="biz-entity-id">Current User:</label>
		<select id="biz-entity-id" [ngModel]="currentUserId" (change)="onChange($event)">
			<option value="" disabled>Select Meerkat User</option>
			<option *ngFor="let bizEntity of biznisEntities" value="{{bizEntity.bizEntityId}}">{{bizEntity.name}}</option> 
		</select>
	</div>
	<div>
		<label for="biz-entity-debt">Debt:</label>
		<input type="text" id="biz-entity-debt" disabled [ngModel]="currentUser.debt">
	</div>
	<div>
		<label for="biz-entity-claim">Claim:</label>
		<input type="text" id="biz-entity-claim" disabled [ngModel]="currentUser.claim">
	</div>
</div>
